<nav class="main-navbar">
    <div class="nav-link logo">
      <a routerLink="/">SwapShop</a>
    </div>
    <div class="nav-links">
      <ng-container *ngIf="isLoggedIn | async">
      <div class="nav-link">
        <a routerLink="/add-offer">Add Offer</a>
      </div>
      <div class="nav-link">
        <a routerLink="/add-event">Add Event</a>
      </div>
      <div class="nav-link">
        <button mat-button [matMenuTriggerFor]="settingsMenu">Settings</button>
        <mat-menu #settingsMenu="matMenu">
          <a *ngIf="isAdmin" mat-menu-item routerLink="/review">Review Items</a>
          <a *ngIf="isAdmin" mat-menu-item routerLink="/create">Create</a>
          <a mat-menu-item (click)="logout()">Logout</a>
        </mat-menu>
      </div>
    </ng-container>
    </div>
  </nav>