<div class="container">
    <div class="login-card">
        <h3>Login</h3>
    <form [formGroup]="form" class="form-container" (submit)="onSubmit()">
        <mat-form-field class="field">
            <mat-label>E-Mail Address</mat-label>
            <input matInput formControlName="email" type="text" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required>
        </mat-form-field>
        <div class="footer">
            <button mat-raised-button color="primary" type="submit">Login</button>
            <a mat-button color="secondary">Forgot you password?</a>
        </div>
    </form>
</div>
</div>