<div class="center-flex">
    <h2>Login</h2>
    <form [formGroup]="form" class="form-container" (submit)="onSubmit()">
        <mat-form-field>
            <mat-label>E-Mail Address</mat-label>
            <input matInput formControlName="email" type="text" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required>
        </mat-form-field>
        <div class="footer">
            <button mat-raised-button color="primary" type="submit">Login</button>
            <a mat-button color="secondary" routerLink="">Forgot your password?</a>
        </div>
    </form>
</div>