@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    z-index: 1000;
    overflow-x: hidden;
    padding-top: 8rem; 
    pointer-events: none;
}

.alert {
    display: flex;
    align-items: center;
    white-space: normal;
    height: auto;
    max-width: 70%;
    margin: 0 auto;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.42rem;
    animation: fadeIn 0.5s linear forwards;
  }

  .close {
    width: 1rem;
      cursor: pointer;
  }

  .message-div{
    margin-right: 1rem;
    overflow-wrap: break-word;
    first-child {
      font-weight: bold;
    }

  }

  // TODO to be changed with proper colours
  .success {
    background-color: #1BC5BD;
    border-color: #1BC5BD;
    color: #ffffff;
  }
  
  .info {
    background-color: #8950FC;
    border-color: #8950FC;
    color: #ffffff;
  }
  
  .warning {
    background-color: #FFA800;
    border-color: #FFA800;
    color: #ffffff;
  }
  
  .error {
    background-color: #F64E60;
    border-color: #F64E60;
    color: #ffffff;
  }
  