<mat-expansion-panel [togglePosition]="'before'" *ngFor="let item of items">

    <mat-expansion-panel-header>

        <mat-panel-title>
            <ng-container *ngIf="panelSettings.showCheckBox">
            <mat-checkbox 
                (click)="$event.stopPropagation()" 
                [ngModel]="item.selected"
                (ngModelChange)="updateCheck($event, item)"></mat-checkbox>
            <mat-divider  vertical="true" class="divader"></mat-divider>
        </ng-container>
            <div>{{ panelSettings.title.displayName || panelSettings.title.name }}: {{ item[panelSettings.title.name] }}</div>
        </mat-panel-title>
        <mat-panel-description>
            <div>{{ panelSettings.description.displayName || panelSettings.description.name }}: {{ item[panelSettings.description.name]}}</div>
            <!-- ?. to make compiler happy -->
            <div *ngIf="panelSettings.status">{{ panelSettings.status?.displayName || panelSettings.status?.name }}: {{ item[panelSettings.status!.name] }}</div>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="panel-content">
        <div class="panel-section" *ngFor="let contentField of panelSettings.content">
            <h3>{{ contentField.displayName || contentField.name }}</h3>
            <p>{{ item[contentField.name] }}</p>
            <mat-divider></mat-divider>
        </div>
    </div>
</mat-expansion-panel>
