
<div class="container">
        <form [formGroup]="form" (submit)="onSubmit()">
            <div class="form-container">

            <mat-form-field class="form-field">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-label>E-mail address</mat-label>
                <input matInput formControlName="email" required>
            </mat-form-field>

            <mat-form-field class="form-field" >
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" required>
            </mat-form-field>

            <mat-form-field class="form-field" >
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword" required>
            </mat-form-field>
            <div class="footer">
                <button mat-raised-button color="primary"type="submit">Register</button>
                <a mat-raised-button color="secondary" routerLink="../login">Cancel</a>
            </div>
        </div>

        </form>
</div>
  